:root {
  --swiper-button-bg-color: black;
  --swiper-button-color: white;
}
.dark {
  --swiper-button-bg-color: white;
  --swiper-button-color: black;
}

.swiper-gallery .swiper-slide {
  opacity: 0.4;
}

.swiper-gallery .swiper-slide-thumb-active {
  opacity: 1;
}

.food-category-swiper .swiper-button-prev {
  height: 2.75rem;
  width: 2.75rem;
  right: 8rem;
  left: auto;
  top: 25rem;
  background: var(--swiper-button-bg-color);
  color: var(--swiper-button-color);
  border-radius: 50%;
  font-weight: 900;
  opacity: 0.5;
}

.food-category-swiper .swiper-button-prev:after {
  font-size: 20px;
}

.food-category-swiper .swiper-button-next {
  height: 2.75rem;
  width: 2.75rem;
  right: 4rem;
  top: 25rem;
  background: var(--swiper-button-bg-color);
  color: var(--swiper-button-color);
  border-radius: 50%;
  font-weight: 900;
  opacity: 0.5;
}

.food-category-swiper .swiper-button-next:after {
  font-size: 20px;
}

@media (max-width: 575px) {
  .food-category-swiper .swiper-button-prev {
    height: 2rem;
    width: 2rem;
    right: 6rem;
  }

  .food-category-swiper .swiper-button-prev:after {
    font-size: 14px;
  }

  .food-category-swiper .swiper-button-next {
    height: 2rem;
    width: 2rem;
    right: 3rem;
  }

  .food-category-swiper .swiper-button-next:after {
    font-size: 14px;
  }
}

@media (min-width: 575px) and (max-width: 1024px) {
  .food-category-swiper .swiper-button-prev {
    height: 2.5rem;
    width: 2.5rem;
    right: 4.5rem;
    top: 23rem;
  }

  .food-category-swiper .swiper-button-prev:after {
    font-size: 16px;
  }

  .food-category-swiper .swiper-button-next {
    height: 2.5rem;
    width: 2.5rem;
    right: 1rem;
    top: 23rem;
  }

  .food-category-swiper .swiper-button-next:after {
    font-size: 16px;
  }
}
