.reelsContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.reel {
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}